NODE_ENV: production
DATABASE_URL: "libsql://boon-aminenabou.aws-ap-northeast-1.turso.io"
DATABASE_AUTH_TOKEN: "eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzI4ODI3OTUsImlkIjoiMDE5Y2M3ZjEtMGQwMS03NGViLWExZDAtNDU4NDczNzJhMmQ3IiwicmlkIjoiNGJjMTExNWQtZDZjOS00OWIwLWIzMGItN2JhMWM4ZmVjYTJjIn0.tJnq1D-l1NEPUuob5QnoDohdu4xjFCRrbSpX5etslW_gvvcpsoXIjBqAw6A-bIWnfc5OJtyb5Us_pCe8iLNnBg"
JWT_SECRET: "b1adf7658097bb83ef4c9fcec72ef5ae281aac86e53e5fe01ae3640d2ea3a454"
PUBLIC_API_BASE_URL: "https://boon-773871962269.europe-west1.run.app"
CORS_ORIGIN: "https://appboon.vercel.app"
ALLOW_DEV_VERIFICATION_CODE: "false"
SMS_WEBHOOK_URL: ""
SMS_WEBHOOK_TOKEN: ""
